#**Heart Disease Prediction**

**Objective**

It is difficult to manually determine the odds of getting heart disease based on risk factors. However, machine learning techniques are useful to predict the output from existing data.

So here is the heart disease prediction model based upon the Cleveland Heart Disease dataset taken from the UCI repository.
The objective of the model is to predict that if the person have any heart related disease based upon 14 attributes on which model is based.

**Data Source**

Here, in this project Data set is obtained from a website named www.Kaggle.com

Data can be obtained from the link :-

https://www.kaggle.com/ronitf/heart-disease-uci
Please Download the data before using the model

**Import Library**

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

**Import Data**

In [ ]:
df = pd.read_csv(r'/content/heart.csv')

**Describe Data**

In [ ]:
df.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

**Data Visualization**

In [ ]:
df

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

**Define Target Variable (y) and Feature Variables (X)**

In [ ]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
X = df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal']]

In [ ]:
y = df['target']

In [ ]:
X.shape,y.shape

((303, 13), (303,))

**Data Preprocessing**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
X = ss.fit_transform(X)

**Train Test Split**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.8, random_state = 2529)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))

**Model**

In [ ]:
from keras.models import Sequential

In [ ]:
from keras.layers import Dense

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(14, input_dim = 13, activation = 'relu'))

In [ ]:
model.add(Dense(16, activation = 'relu'))

In [ ]:
model.add(Dense(18, activation = 'relu'))

In [ ]:
model.add(Dense(18, activation = 'relu'))

In [ ]:
model.add(Dense(1, activation = 'sigmoid'))

In [ ]:
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 14)                196

 dense_16 (Dense)            (None, 16)                240

 dense_17 (Dense)            (None, 18)                306

 dense_18 (Dense)            (None, 18)                342

 dense_19 (Dense)            (None, 1)                 19

=================================================================
Total params: 1,103
Trainable params: 1,103
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X_train,y_train,epochs = 100, batch_size = 100)

Epoch 1/100
3/3 [==============================] - 0s 10ms/step - loss: 0.1033 - accuracy: 0.9752
Epoch 2/100
3/3 [==============================] - 0s 13ms/step - loss: 0.1024 - accuracy: 0.9752
Epoch 3/100
3/3 [==============================] - 0s 10ms/step - loss: 0.1013 - accuracy: 0.9752
Epoch 4/100
3/3 [==============================] - 0s 8ms/step - loss: 0.1003 - accuracy: 0.9752
Epoch 5/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0989 - accuracy: 0.9793
Epoch 6/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0973 - accuracy: 0.9793
Epoch 7/100
3/3 [==============================] - 0s 18ms/step - loss: 0.0964 - accuracy: 0.9793
Epoch 8/100
3/3 [==============================] - 0s 17ms/step - loss: 0.0953 - accuracy: 0.9752
Epoch 9/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0946 - accuracy: 0.9752
Epoch 10/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0930 - accuracy: 0.9752
Epoch 11/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0919 - accuracy: 0.9752
Epoch 12/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0907 - accuracy: 0.9793
Epoch 13/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0894 - accuracy: 0.9793
Epoch 14/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0882 - accuracy: 0.9793
Epoch 15/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0863 - accuracy: 0.9793
Epoch 16/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0852 - accuracy: 0.9793
Epoch 17/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0833 - accuracy: 0.9793
Epoch 18/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0820 - accuracy: 0.9793
Epoch 19/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0804 - accuracy: 0.9793
Epoch 20/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0789 - accuracy: 0.9793
Epoch 21/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0777 - accuracy: 0.9835
Epoch 22/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0764 - accuracy: 0.9793
Epoch 23/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0751 - accuracy: 0.9835
Epoch 24/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0738 - accuracy: 0.9835
Epoch 25/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0728 - accuracy: 0.9876
Epoch 26/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0717 - accuracy: 0.9876
Epoch 27/100
3/3 [==============================] - 0s 18ms/step - loss: 0.0705 - accuracy: 0.9835
Epoch 28/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0695 - accuracy: 0.9835
Epoch 29/100
3/3 [==============================] - 0s 20ms/step - loss: 0.0686 - accuracy: 0.9835
Epoch 30/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0678 - accuracy: 0.9835
Epoch 31/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0665 - accuracy: 0.9876
Epoch 32/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0656 - accuracy: 0.9876
Epoch 33/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0645 - accuracy: 0.9876
Epoch 34/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0637 - accuracy: 0.9876
Epoch 35/100
3/3 [==============================] - 0s 19ms/step - loss: 0.0627 - accuracy: 0.9876
Epoch 36/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0619 - accuracy: 0.9876
Epoch 37/100
3/3 [==============================] - 0s 17ms/step - loss: 0.0611 - accuracy: 0.9876
Epoch 38/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0600 - accuracy: 0.9876
Epoch 39/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0592 - accuracy: 0.9876
Epoch 40/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0584 - accuracy: 0.9876
Epoch 41/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0575 - accuracy: 0.9876
Epoch 42/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0566 - accuracy: 0.9876
Epoch 43/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0557 - accuracy: 0.9876
Epoch 44/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0550 - accuracy: 0.9876
Epoch 45/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0542 - accuracy: 0.9917
Epoch 46/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0533 - accuracy: 0.9917
Epoch 47/100
3/3 [==============================] - 0s 17ms/step - loss: 0.0526 - accuracy: 0.9917
Epoch 48/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0517 - accuracy: 0.9917
Epoch 49/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0509 - accuracy: 0.9917
Epoch 50/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0500 - accuracy: 0.9917
Epoch 51/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0495 - accuracy: 0.9917
Epoch 52/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0487 - accuracy: 0.9917
Epoch 53/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0483 - accuracy: 0.9917
Epoch 54/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0475 - accuracy: 0.9959
Epoch 55/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0469 - accuracy: 0.9917
Epoch 56/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0466 - accuracy: 0.9917
Epoch 57/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0458 - accuracy: 0.9917
Epoch 58/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0449 - accuracy: 0.9917
Epoch 59/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0445 - accuracy: 0.9959
Epoch 60/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0440 - accuracy: 0.9959
Epoch 61/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0431 - accuracy: 0.9959
Epoch 62/100
3/3 [==============================] - 0s 17ms/step - loss: 0.0425 - accuracy: 0.9959
Epoch 63/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0418 - accuracy: 0.9959
Epoch 64/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0416 - accuracy: 0.9959
Epoch 65/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0410 - accuracy: 0.9959
Epoch 66/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0401 - accuracy: 0.9959
Epoch 67/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0399 - accuracy: 0.9959
Epoch 68/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0390 - accuracy: 0.9959
Epoch 69/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0385 - accuracy: 0.9959
Epoch 70/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0380 - accuracy: 0.9959
Epoch 71/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0375 - accuracy: 0.9959
Epoch 72/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0371 - accuracy: 0.9959
Epoch 73/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0366 - accuracy: 0.9959
Epoch 74/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0361 - accuracy: 0.9959
Epoch 75/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0357 - accuracy: 0.9959
Epoch 76/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0352 - accuracy: 0.9959
Epoch 77/100
3/3 [==============================] - 0s 20ms/step - loss: 0.0348 - accuracy: 0.9959
Epoch 78/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0344 - accuracy: 0.9959
Epoch 79/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0339 - accuracy: 0.9959
Epoch 80/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0336 - accuracy: 0.9959
Epoch 81/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0332 - accuracy: 0.9959
Epoch 82/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0328 - accuracy: 0.9959
Epoch 83/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0325 - accuracy: 0.9959
Epoch 84/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0322 - accuracy: 0.9959
Epoch 85/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0318 - accuracy: 0.9959
Epoch 86/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0313 - accuracy: 0.9959
Epoch 87/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0310 - accuracy: 0.9959
Epoch 88/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0306 - accuracy: 0.9959
Epoch 89/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0302 - accuracy: 0.9959
Epoch 90/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0299 - accuracy: 0.9959
Epoch 91/100
3/3 [==============================] - 0s 7ms/step - loss: 0.0296 - accuracy: 0.9959
Epoch 92/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0292 - accuracy: 0.9959
Epoch 93/100
3/3 [==============================] - 0s 8ms/step - loss: 0.0289 - accuracy: 0.9959
Epoch 94/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0286 - accuracy: 0.9959
Epoch 95/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0284 - accuracy: 0.9959
Epoch 96/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0280 - accuracy: 0.9959
Epoch 97/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0276 - accuracy: 0.9959
Epoch 98/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0275 - accuracy: 0.9959
Epoch 99/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0272 - accuracy: 0.9959
Epoch 100/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0268 - accuracy: 0.9959

**Model Evaluation**

In [ ]:
score = model.evaluate(X_test,y_test,verbose = 0)
print(score)

[1.1872260570526123, 0.8360655903816223]

**Prediction**

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred = (y_pred > 0.5)
print(y_pred)

[[False]
 [False]
 [False]
 [False]
 [ True]
 [ True]
 [ True]
 [ True]
 [False]
 [ True]
 [ True]
 [ True]
 [ True]
 [ True]
 [ True]
 [False]
 [ True]
 [False]
 [ True]
 [ True]
 [ True]
 [False]
 [False]
 [False]
 [ True]
 [False]
 [False]
 [False]
 [ True]
 [False]
 [ True]
 [False]
 [ True]
 [ True]
 [ True]
 [ True]
 [False]
 [ True]
 [False]
 [ True]
 [ True]
 [ True]
 [ True]
 [ True]
 [ True]
 [False]
 [False]
 [False]
 [ True]
 [False]
 [ True]
 [False]
 [ True]
 [False]
 [False]
 [ True]
 [ True]
 [False]
 [ True]
 [False]
 [ True]]

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report
confusion_matrix(y_test, y_pred)

array([[20,  4],
       [ 6, 31]])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.77      0.83      0.80        24
           1       0.89      0.84      0.86        37

    accuracy                           0.84        61
   macro avg       0.83      0.84      0.83        61
weighted avg       0.84      0.84      0.84        61

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error(y_test,y_pred)

0.16393442622950818

**Explaination**

Heart disease is one of the biggest causes of morbidity and mortality among the population of the world. Prediction of cardiovascular disease is regarded as one of the most important subjects in the section of clinical data analysis

According to a news article, heart disease proves to be the leading cause of death for both women and men.

This makes heart disease a major concern to be dealt with. But it is difficult to identify heart disease because of several contributory risk factors such as diabetes, high blood pressure, high cholesterol, abnormal pulse rate, and many other factors

Machine learning (ML) and Deep Learing (DL) proves to be effective in assisting in making decisions and predictions from the large quantity of data produced by the healthcare industry.

So here I have tried to make a model which can predict the disease based upon some attributes as follows:



1.   Age: displays the age of the individual.
2.   Sex: displays the gender of the individual using the following format :


*   1 = male
*   0 = female

3.   Chest-pain type: displays the type of chest-pain experienced by the individual using the following format :
* 1 = typical angina
* 2 = atypical angina
* 3 = non — anginal pain
* 4 = asymptotic
4.   Resting Blood Pressure: displays the resting blood pressure value of an individual in mmHg (unit)
5.   Serum Cholestrol: displays the serum cholesterol in mg/dl (unit)
6.   Fasting Blood Sugar: compares the fasting blood sugar value of an individual with 120mg/dl.
* If fasting blood sugar > 120mg/dl then : 1 (true)
* else : 0 (false)
7.   Resting ECG : displays resting electrocardiographic results
* 0 = normal
* 1 = having ST-T wave abnormality
* 2 = left ventricular hyperthrophy
8.   Max heart rate achieved : displays the max heart rate achieved by an individual.
9.    Exercise induced angina :
* 1 = yes
* 0 = no
10.   ST depression induced by exercise relative to rest: displays the value which is an integer or float.
11.   Peak exercise ST segment :
* 1 = upsloping
* 2 = flat
* 3 = downsloping
12.   Number of major vessels (0–3) colored by flourosopy : displays the value as integer or float.
13.   Thal : displays the thalassemia :
* 3 = normal
* 6 = fixed defect
* 7 = reversible defect
14.  Diagnosis of heart disease : Displays whether the individual is suffering from heart disease or not :
* 0 = absence
* 1, 2, 3, 4 = present.

The model is made using the Artificial Neural Network

Knowledge of this ANN is obtained from Dr. Alok Yadav sir and it was the very good time learing all about ML and DL from Alok sir
Thanks for his Guidence